parameters:
    level: 8
    paths:
        - example
        - src
        - tests

    ignoreErrors:
        -
            message: '#Call to an undefined method [a-zA-Z0-9\\_|]+::normalize\(\)#'
            path: tests/Traits/AbstractNormalizableTraitTest.php
        -
            message: '#Call to an undefined method [a-zA-Z0-9\\_|]+::method\(\)#'
            path: tests/Traits/AbstractNormalizableTraitTest.php
