<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="./tests/bootstrap.php" cacheResultFile="./build/cache/phpunit.result.cache" colors="true" verbose="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="micro-object test suite">
      <directory>./tests</directory>
    </testsuite>
    <testsuite name="example test suite">
      <directory>./example/Tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
